.avatar{
    display: block;
    margin: auto;
    width: 35;
}

.container-avatar{
    display: block;
    margin: auto;
    width: 38px;
    height: 38px;
    border-radius: 900px;
    overflow: hidden;
}

.container-avatar img{
    height: 100%;
}