/* AVATAR del usuario*/ 
.avatar{
    display: block;
    margin: auto;
    width: 35;
    border-radius: 900px;
}

.container-avatar{
    display: block;
    margin: auto;
    width: 38px;
    height: 38px;
    overflow: hidden;
}

.container-avatar img{
    height: 100%;
}

/* Publicación*/ 
.pub_image{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    max-width: 550px;
}

/*Barra superior publicación*/
.avatar-main{
    border-radius: 900px;
    float: left;
    margin-right: 20px;
}

.data-username{
    font-weight: bold;
    margin-top: 3px;
    line-height: 35px;
}

.data-username a{
    color: black;
    text-decoration: none;
}

/* Imagen de la publicación*/ 
.image-container{
    height: auto;
    width: 100%;
    overflow: hidden;
}

.image-container img{
    width: 100%;
    height: auto;
}

.pub_image .card-body{
    padding: 0px;
}

/*Parte inferior publicación*/

/*Ver imagen*/
.view-image img{
    width: 25px;
    margin-right: 10px; 
    padding-top: 10px;
    float: right;
}

/*Comentarios general*/
.comment-btn a{
    text-decoration: none;
    color: black;
}

.comment-btn img{
    width: 25px;
    padding-bottom: 0px;
    padding-top: 10px;
}

/*Comentarios fecha*/
.comments-detail p{
    margin-top: 10px;
    margin-bottom: 0px;
    color: rgb(100, 100, 100);
}

/*Formulario postear comentarios*/
.comment-form textarea{
    height: 35px;
    width: 80%;
    margin: 5px;
    margin-left: 15px;
}

.btn-post-comment{
    margin-right: 10px;
    float: right;
    color: rgb(0, 143, 199);
    font-size: 15px;
    font-weight: bold;
}

/*Comentarios listados*/
.comments{
    max-width: 470px;
    margin: 12px; 
}

.username{
    margin-left: 5px;
    font-weight: bold; 
    float: left;
}

.comment-content{ 
    margin-left: 10px; 
}

.time-comments{
    margin-left: 7px;
    color: rgb(100, 100, 100);
    font-size: small;
    margin-right: 10px;
    margin-top: 5px;
}

.btn-comments{
    background-color: rgba(167, 167, 167, 0.623);
    margin: 5px;
    margin-bottom: 10px;
}

.delete-comment{
    margin-left: 10px;
    color: rgb(216, 0, 0);
}

/*Likes*/
.likes{
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

.likes img{
    width: 25px;
    padding-bottom: 0px;
    padding-top: 10px;
}

/*Cantidades likes/comentarios */
.count_quantity{
    color: rgb(77, 77, 77);
}

/*Descripción de la imagen*/
.pub_image .description-box{
    padding: 8px;
    padding-top: 5px;
}

.pub_image .description-username{
    font-weight: bold;
    float: left;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 0px;
}

.pub_image .description{
    padding: 5px;
    margin-bottom: 0px;
}

/*Página view image*/
.view_image img{
    display: block;
    margin-left: auto;
    margin-right: auto;    
    padding: 10px;
    max-width: 40%;
}

/*Fecha creación*/
.created_at-main{
    float: right;
    color: rgb(100, 100, 100);
    margin-right: 10px; 
    padding-top: 10px;
}
