/*LOGO*/
.logo img{
    height: 60px;
    float: left;
}

/*Scroll bar*/
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: #f8fafc;
    border: 1px solid #e2e3e4;  /* creates padding around scroll thumb */
            /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(156, 156, 156);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid rgb(156, 156, 156);  /* creates padding around scroll thumb */
}

/*Top navbar*/
/*WEB*/
@media (max-width: 780px) {
    .top-icon{
        margin-left: 45%;
    }
}

/*MOBILE*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .top-icon{
        margin-left: 45%;
    }
}

/* AVATAR del usuario*/ 
.avatar{
    display: block;
    margin: auto;
    width: 38;
    border-radius: 900px;
}

.container-avatar{
    display: block;
    margin: auto;
    width: 38px;
    height: 38px;
    overflow: hidden;
}

.container-avatar img{
    height: 100%;
    width: 100%;
}

/*Iconos TOPNAVBAR*/
.home-icon img{
    width: 30px;
    height: auto;
}

.people-icon img{
    width: 30px;
    height: auto;
}

.heart-icon img{
    width: 33px;
    height: auto;
}

.add-icon img{
    width: 34px;
    height: auto;
    margin-right: 5px;
}

.name-dropdown{
    font-size: 17px;
    margin-top: 3px;
    margin-right: 0; 
}

.top-bell img{
    width: 25px;
    height: auto;
    margin-bottom: 10px;
}

.top-dropdown:hover{
    background: rgb(235, 235, 235);
}

.cerrar-sesion:hover {
    color: red;
    background: rgb(255, 223, 223);
}

.top-trendy a{
    width: 30px;
    height: auto;
    margin-left: 10px;
    padding-bottom: 10px;
}

.top-admin{
    width: 30px;
    height: auto;
    margin-bottom: 10px;
}

/*Página INFO*/
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.main-logo{
    width: 120px;
    margin-top: 5%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.main-logo:hover{
    width: 124px;
}

/*MOBILE*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .main-logo{
        margin-top: 25%;
        margin-bottom: 40%;
        width: 120px;
    }
}

.main-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.main-buttons a{
    text-decoration: none;
    margin: 10px;
    font-size: 16px;
}

.login-main{
    color: red;
    border: 2px solid red;
    border-radius: 25px;
    padding: 13px;
    padding-left: 30px;
    padding-right: 30px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.login-main:hover{
    color: white;
    background: rgb(255, 106, 106);
    border: 2px solid rgb(255, 106, 106);
    border-radius: 30px;
    padding: 16px;
    padding-left: 33px;
    padding-right: 33px;
}

.register-main{
    color: white;
    background: rgb(255, 116, 116);
    border: 2px solid rgb(255, 116, 116);
    border-radius: 25px;
    padding: 13px;
    padding-left: 25px;
    padding-right: 25px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.register-main:hover{
    color: white;
    background: rgb(251, 81, 81);
    border: 2px solid rgb(251, 81, 81);
    border-radius: 30px;
    padding: 16px;
    padding-left: 28px;
    padding-right: 28px;
}

/*Footer*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: grey;
}

.footer a{
    color: grey;
    margin-bottom: 15px;
    margin-right: 7px;
    padding: 3px;
    font-size: 14px;
}

/*MOBILE*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .footer{
        margin-right: 2px;
        padding: 3px;
        font-size: 12px;
    } 
}

/* Publicación*/ 
.pub_image{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    max-width: 550px;
}

/*Barra superior publicación*/
.avatar-main{
    border-radius: 900px;
    float: left;
    margin-right: 20px;
}

.data-username{
    font-weight: bold;
    margin-top: 3px;
    line-height: 35px;
}

.data-username a{
    color: black;
    text-decoration: none;
}

.dots{
    float: right;
    width: 18px;
    margin-right: 5px;
}

.dots .edit-publication:hover{
    background: rgb(230, 230, 230);
    transition: 0.2s;
}

.dots .delete-publication{
    color: rgb(184, 0, 0);
}

.dots .delete-publication:hover{
    background: rgb(255, 207, 207);
    transition: 0.2s;
}

/* Imagen de la publicación*/ 
.image-container{
    height: auto;
    width: 100%;
    overflow: hidden;
}

.image-container img{
    width: 100%;
    height: auto;
}

.pub_image .card-body{
    padding: 0px;
}

/*Parte inferior publicación*/
/*Ver imagen*/
.view-image img{
    width: 25px;
    margin-right: 10px; 
    padding-top: 10px;
    float: right;
}

.report-image img{
    width: 22px;
    margin-right: 10px; 
    padding-top: 10px;
    float: right;
}

/*Comentarios general*/
.comment-btn a{
    text-decoration: none;
    color: black;
}

.comment-btn img{
    width: 25px;
    padding-bottom: 0px;
    padding-top: 10px;
}

/*Comentarios fecha*/
.comments-detail p{
    margin-top: 10px;
    margin-bottom: 0px;
    color: rgb(100, 100, 100);
}

/*Formulario postear comentarios*/
.comment-form{
    padding-top: 5px;
}

.comment-form textarea{
    height: 35px;
    width: 75%;
    margin: 5px;
    margin-left: 15px;
}

.btn-post-comment{
    height: 35px;
    width: 25%;
    float: right;
    color: rgb(0, 143, 199);
    font-size: 15px;
    font-weight: bold;
}

/*Comentarios listados*/
.comments{
    max-width: 470px;
    margin: 12px; 
}

.username{
    margin-left: 5px;
    font-weight: bold; 
    float: left;
}

.comment-content{ 
    margin-left: 10px; 
}

.time-comments{
    margin-left: 7px;
    color: rgb(100, 100, 100);
    font-size: small;
    margin-right: 10px;
    margin-top: 5px;
}

.btn-comments{
    background-color: rgba(167, 167, 167, 0.623);
    margin: 5px;
    margin-bottom: 10px;
}

.delete-comment{
    margin-left: 10px;
    color: rgb(216, 0, 0);
}

/*Likes*/
.likes{
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

.likes img{
    width: 25px;
    padding-bottom: 0px;
    padding-top: 10px;
}

/*Cantidades likes/comentarios */
.count_quantity{
    color: rgb(77, 77, 77);
}

/*Descripción de la imagen*/
.pub_image .description-box{
    padding: 8px;
    padding-top: 5px;
}

.pub_image .description-username{
    font-weight: bold;
    float: left;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 0px;
}

.pub_image .description{
    padding: 5px;
    margin-bottom: 0px;
}

/*Página view image*/
.view_image img{
    display: block;
    margin-left: auto;
    margin-right: auto;    
    padding: 10px;
    max-width: 40%;
}

/*MOBILE*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .view_image img{
        display: block;
        margin-left: auto;
        margin-right: auto;    
        padding: 0;
        max-width: 95%;
    }
}

/*Fecha creación*/
.created_at-main{
    float: right;
    color: rgb(100, 100, 100);
    margin-right: 10px; 
    padding-top: 10px;
}

/*Página editar usuario*/
.delete-container{
    margin-top: 20px;
}

.delete-account{
    text-decoration: none;
    padding: 5px;
}

.delete-account a{
    color: red;
}

.delete-account p{
    color: rgb(112, 112, 112);
}

/*Perfil del usuario*/
.data-user-profile{
    margin-top: 10px;
    margin-bottom: 30px;
}

.data-user-profile .avatar-profile{
    width: 100px;
    height: 100px;
    border-radius: 900px;
    overflow: hidden;
    float: left;
}

.data-user-profile .avatar-profile img{
    width: 100%;
    height: 100%;
}

.data-user-profile .data-user{
    float: left;
    margin-top: 30px;
    margin-left: 25px;
}

.data-user-profile .description-profile-box{
    float: right;
    width: 350px;
    height: auto;
    word-wrap: break-word;
    margin-top: 30px;
    margin-bottom: 5px;
    padding-left: 15px;
}

.data-user-profile .data-user .username-profile{
    font-size: 30px;
}

.data-user-profile .data-user .name-surname-profile{
    font-weight: bold;
    font-family: Arial;
    font-size: 16px;
    width: 200px;
    height: auto;
    word-wrap: break-word
}

.profile-empty{
    color: rgb(117, 117, 117);
}

/*Página edit image*/
.edit-image img{
    width: 100px;
    height: auto;
}

/*Buscador pag people*/
.browser{
    float: right;
}

.btn-search{
    color: #04c59b;
    background: #fff;
    border: 1px solid #13d1a8;
}

.btn-search:hover{
    color: #fff;
    background: #13d1a8;
}

/*Página people*/
.profile-people{
    color: black;
    transition: transform .4s; 
}

.profile-people:hover {
    background: rgba(202, 202, 202, 0.233);
    transform: scale(1.1);
}

/*Página settings*/
.settings{
    margin: 20px;
}

.settings h2{
    text-align: center;
}

.settings hr{
    width: 445px;
}

.settings-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.settings-container a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.settings-container p{
    color: grey;
    font-size: 14px;
}

.settings-button{
    width: 430px;
    max-height: 55px;
    padding: 5px;
}

.settings-button:hover{
    background-color: rgba(236, 236, 236, 0.733);
}

/*MOBILE*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .settings hr{
        width: 350px;
    }

    .settings-container{
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 10px;
    }

    .settings-container a{
        font-size: 18px;
    }
    
    .settings-container p{
        color: grey;
        font-size: 15px;
    }

    .settings-button{
        width: 430px;
        max-height: 75px;
        padding: 5px;
    }
}

/*Página more information*/
.info-container hr{
    width: 400px;
}

.info-container h2{
    text-align: center;
}

.policy-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}

.info-question{
    width: 400px;
}

.info-question h5{
    font-size: 18px;
}

.info-question a{
    font-size: 15px;
} 

/*MOBILE*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .info-container hr{
        width: 350px;
    }

    .policy-container{
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 15px;
    }

    .info-question{
        width: 400px;
    }
    
    .info-question h5{
        font-size: 15px;
    }
    
    .info-question a{
        font-size: 15px;
    } 
}

/*Página popular*/
.hashtag h5{
    float: right;
    color: rgb(122, 122, 122);
    padding: 2px;
    font-size: 22px;
}

/*Página de actividad y notificaciones*/
.notification{
    display: block;
    margin-top: 10px;
    margin-left: 25px;
    padding: 10px;
    width: 500px;
    border-top: 1px solid rgb(204, 204, 204);
}

.notification-image img{
    float: left;
    width: 70px;
    height: auto;
    padding: 5px;
}

.notification-container{
    display: block;
    margin-left: 100px;
}

.activity-like{
    width: 400px;
}

.activity-comment{
    word-break: break-all;
    width: 400px;
}

.no-activity{
    margin-top: 30px;
}

.inform-activity{
    margin-top: 20px;
    font-size: 15px;
    color: grey;
}

/*WEB*/
@media (max-width: 780px) {
    .notification{
        margin-top: 5px;
        margin-left: 0;
        padding: 5px;
        width: 400px;
    }

    .notification-image img{
        width: 50px;
        height: auto;
    }
    
    .notification-container{
        display: block;
        margin-left: 80px;
    }
    
    .activity-like{
        width: 350px;
    }
    
    .activity-comment{
        word-break: break-all;
        width: 350px;
    }
}

/*MOBILE*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .notification{
        margin-top: 5px;
        margin-left: 0;
        padding: 10px;
        width: 350px;
    }

    .notification-image img{
        width: 50px;
        height: auto;
    }
    
    .notification-container{
        display: block;
        margin-left: 60px;
    }
    
    .activity-like{
        width: 250px;
    }
    
    .activity-comment{
        word-break: break-all;
        width: 250px;
    }
}

/*Administrador*/
/*Aside*/
.botones-lateral{
    margin-top: -16px;
    width: 10%;
}

.botones-lateral a{
    text-decoration: none;
    display: block;
    float: left;
    width: 100%;
    padding: 15px;
    padding-left: 25px;
    color: red;
    font-weight: bolder;
    background-color: white;
    box-shadow: 2px 2px rgb(223, 223, 223);
    border-radius: 0 25px 25px 0;
    transition-duration: 300ms;
}

.botones-lateral a:hover{
    background: rgb(255, 132, 132);
    box-shadow: 2px 2px rgb(255, 132, 132);
    color: white;
}

.admin-content{
    display: block;
    margin: 30px;
    margin-left: 12%;
    width: 85%;
    height: 400px;
}

.admin-dates table{
    margin-left: 38%; 
    margin-right: auto; 
    width: 200px;
}

.admin-dates th{
    padding: 10px;
    padding-right: 30px;
}

.admin-dates td{
    padding: 10px;
}

/*WEB*/
@media (max-width: 780px) {
    .botones-lateral{
        margin-top: -16px;
        width: 100px;
    }
    
    .botones-lateral a{
        text-decoration: none;
        display: block;
        float: left;
        width: 100%;
        padding: 15px;
        padding-left: 25px;
        color: red;
        font-weight: bolder;
        background-color: white;
        box-shadow: 2px 2px rgb(223, 223, 223);
        border-radius: 0 25px 25px 0;
        transition-duration: 300ms;
    }

    .admin-content{
        display: block;
        margin: 30px;
        margin-left: 110px;
        width: 75%;
        height: 600px;
    }

    .admin-dates table{
        margin-left: auto; 
        margin-right: auto; 
        width: 200px;
    }
    
    .admin-dates th{
        padding: 10px;
        padding-right: 30px;
    }
    
    .admin-dates td{
        padding: 10px;
    }
}

/*MOBILE*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .botones-lateral{
        margin-top: -16px;
        width: 100px;
    }
    
    .botones-lateral a{
        text-decoration: none;
        display: block;
        float: left;
        width: 100%;
        padding: 15px;
        padding-left: 25px;
        color: red;
        font-weight: bolder;
        background-color: white;
        box-shadow: 2px 2px rgb(223, 223, 223);
        border-radius: 0 25px 25px 0;
        transition-duration: 300ms;
    }

    .admin-content{
        display: block;
        margin: 15px;
        margin-top: 200px;
        width: 90%;
        height: 390px;
    }
    
    .admin-dates table{
        margin-left: auto; 
        margin-right: auto; 
        width: 200px;
    }
    
    .admin-dates th{
        padding: 10px;
        padding-right: 30px;
    }
    
    .admin-dates td{
        padding: 10px;
    }
}

/*Página de reportes*/
.report-container table{
    margin-left: auto; 
    margin-right: auto; 
    width: 70%;
}

.img-report img{
    width: 100px;
    height: auto;
}

.report-container th{
    text-align: center;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding: 20px;
}

.report-container td{
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.icons-report img{
    width: 30px;
    height: auto;
}

/*MOBILE*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .report-container table{
        margin-left: auto; 
        margin-right: auto; 
        width: 70%;
    }
    
    .img-report img{
        width: 70px;
        height: auto;
    }
    
    .report-container th{
        text-align: center;
        border-bottom: 1px solid rgb(219, 219, 219);
        padding:1px;
    }
    
    .report-container td{
        padding: 2px;
        text-align: center;
        border-bottom: 1px solid rgb(219, 219, 219);
    }
    
    .icons-report img{
        width: 25px;
        height: auto;
    }
}